{% extends 'popular.twig' %}
{% block main %}
<section class="container-comment">
    <div class="container-title-comment">
        {% if id == null %}
        <h2>Les commentaires envoyés</h2>
        <p>Tous les commentaires de notre base de donées</p>
        {% else %}
        {% for d in destination %}
        <a href="detail.php?id={{d.id}}" aria-label="Lire plus sur cette destination sur Loovre">
            <h2>Les commentaires pour : {{d.titre}}</h2>
            <p>Tous les commentaires de notre base de donées pour : {{d.titre}}</p>
        </a>
        {% endfor %}
        {% endif %}
    </div>
    <form action="comment.php" method="post">
        <select id="agrement" name="id">
            <option value="">Selectionner -</option>
            {% if destination_all != null %}
            {% for da in destination_all %}
                <option value={{da.id}}>{{ da.titre }}</option>
            {% endfor %}
            {% else %}
            {% for d in destination %}
                <option value={{d.id}}>{{ d.titre }}</option>
            {% endfor %}
            {% endif %}
        </select>
        <button type="submit">Rechercher</button>
    </form>
    <div class="container-comment-posted">
        {% if commentaire != null %}
        {% for c in commentaire %}
        {% if c.id_commentaire == null %}
                <div class="flex-comment">
                    <div class="user-comment">
                        <img src="./img/svg/profil.svg" alt="">
                        {{ c.pseudo }}
                    </div>
                    <div class="text-comment">
                        <div class="notation-comment">
        {% for i in c.note %}
                            <img src="./img/svg/star.svg" alt="X">
        {% endfor %}
                        </div>
                        <p>{{ c.texte }}</p>
                        <span class="date">{{ c.date_com }}</span>
                    </div>
                </div>
        {% for c2 in commentaire %}
        {% if c2.id_commentaire == c.id %}
                <div class="flex-comment reply-comment">
                    <div class="user-comment">
                        <img src="./img/svg/profil.svg" alt="">
                        {{ c2.pseudo }}
                    </div>
                    <div class="text-comment">
                        <p>{{ c2.texte }}</p>
                        <span class="date">{{ c2.date_com }}</span>
                    </div>
                </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endfor %}
        {% else %}
        <h2>Selectionner les commentaires selon la base de données</h2>
        {% endif %}
    </div>
</section>
{% endblock main %}